<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Подарок за репост - CODE</title>
	<link rel="stylesheet" href="https://yastatic.net/bem-components/latest/desktop/bem-components.css">
	<link rel="stylesheet" href="release/app.css">
	<script src="https://yastatic.net/bem-components/latest/desktop/bem-components.js"></script>
	<script src="http://cdn.jsdelivr.net/vue/1.0.18/vue.min.js"></script>
	<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
	<script src="http://sugarjs.com/release/current/sugar.min.js"></script>
	<style>
		#get-code{
			width: 700px;
			height: auto;
			position: fixed;
			top: 250px;
			left: 50%;
			margin-left: -350px;
			background-color: #f7f7f9;
			padding: 10px;
		}
		#i4j5{
			width: 100%;
			max-width: 100%;
			height: auto;
			/*position: fixed;
			top: 250px;
			left: 50%;
			margin-left: -250px;*/
			/*background-color: #f7f7f9;*/
			font-size: 14px;
			line-height: 1.2em;
			overflow: auto;
			padding: 10px 0;
			margin-top: 5px;
			/*border: 1px solid rgba(0,0,0,.2);*/
		}
		#js{
			/*width: 600px;
			overflow: auto;*/
			display: none;
		}
		.page{
			padding: 10px;
		}
	</style>
</head>
<body class="page page_theme_islands" id="code">
	<h2>Пост</h2>
	<div style="width: 200px; margin-top: 5px;" class="input input_theme_islands input_size_m i-bem" data-bem='{"input":{}}'>
	    <span class="input__box">
	        <input class="input__control" v-model="vk.url" placeholder="Ссылка на сайт" />
	        <span class="input__clear"></span>
	    </span>
	</div>
	<br>
	<div style="width: 200px; margin-top: 5px;" class="input input_theme_islands input_size_m i-bem" data-bem='{"input":{}}'>
	    <span class="input__box">
	        <input class="input__control" v-model="vk.img" placeholder="Ссылка на картинку" />
	        <span class="input__clear"></span>
	    </span>
	</div>
	<br>
	<div style="width: 200px; margin-top: 5px;" class="input input_theme_islands input_size_m i-bem" data-bem='{"input":{}}'>
	    <span class="input__box">
	        <input class="input__control" v-model="vk.title" placeholder="Заголовок" />
	        <span class="input__clear"></span>
	    </span>
	</div>
	<br>
	<textarea style="width: 200px; margin-top: 5px;" v-model="vk.description"  class="textarea textarea_theme_islands textarea_size_m textarea_width_available textarea__control i-bem" data-bem='{"textarea":{}}' placeholder="Описание"></textarea>
	<br>
	<br>
	<h2>Акция</h2>
	<div style="width: 200px; margin-top: 5px;" class="input input_theme_islands input_size_m i-bem" data-bem='{"input":{}}'>
	    <span class="input__box">
	        <input class="input__control" v-model="offer.title" placeholder="Заголовок акции" />
	        <span class="input__clear"></span>
	    </span>
	</div>
	<br>
	<textarea style="width: 200px; margin-top: 5px;" v-model="offer.text" class="textarea textarea_theme_islands textarea_size_m textarea_width_available textarea__control i-bem" data-bem='{"textarea":{}}' placeholder="Текст акции"></textarea>
	<br>
	<br>
	<h2>Инструкция</h2>
	<div style="width: 200px; margin-top: 5px;" class="input input_theme_islands input_size_m i-bem" data-bem='{"input":{}}'>
	    <span class="input__box">
	        <input class="input__control" v-model="instruction.title" placeholder="Заголовок инструкции" />
	        <span class="input__clear"></span>
	    </span>
	</div>
	<br>
	<textarea style="width: 200px; margin-top: 5px;" v-model="instruction.text" class="textarea textarea_theme_islands textarea_size_m textarea_width_available textarea__control i-bem" data-bem='{"textarea":{}}' placeholder="Текст инструкции"></textarea>
	<br>
	<br>

	<div class="i4j5-vk-widget">
		<div class="i4j5-vk-widget__body" style="
																				top: 10px;
																		    left: 50%;
																		    bottom: inherit;
																		    margin-left: -350px;
																		    margin-top: 0px;
																		    visibility: visible; 
																		    opacity: 1;">
			<div class="i4j5-vk-widget__close"></div>
			<div class="i4j5-vk-widget__title">{{offer.title}}</div>
			<div class="i4j5-vk-widget__text">{{offer.text}}</div>
			<div class="i4j5-vk-widget__btn"></div>
					
			<div class="i4j5-vk-widget__link">Хочу такой виджет</div>
		</div>
	</div>

	<div class="i4j5-vk-widget">
		<div class="i4j5-vk-widget__body" style="
																				top: 10px;
																		    left: 50%;
																		    bottom: inherit;
																		    margin-left: 50px;
																		    margin-top: 0px;
																		    visibility: visible; 
																		    opacity: 1;">
			<div class="i4j5-vk-widget__close"></div>
			<div class="i4j5-vk-widget__title">{{instruction.title}}</div>
			<div class="i4j5-vk-widget__text">{{instruction.text}}</div>
			<div class="i4j5-vk-widget__link">Хочу такой виджет</div>
		</div>
	</div>
	
	<div id="get-code">
		<button onclick="getCode();" data-clipboard-target="#i4j5" class="button button_theme_islands button_size_m button_view_submit button__control i-bem" data-bem='{"button":{}}' role="button" type="button">
		    <span class="button__text">Генерировать код</span>
		</button>
		<button id="btn" data-clipboard-target="#i4j5" class="button button_theme_islands button_size_m button_view_submit button__control i-bem" data-bem='{"button":{}}' role="button" type="button">
		    <span class="button__text">Скопировать код</span>
		</button>
		<div id="js">(function(){var b=document.createElement('link');b.rel='stylesheet';b.href='{{baseURL}}/app.css';document.getElementsByTagName("head")[0].appendChild(b);b.onload=function(){var a=document.createElement('script');a.type='text/javascript';a.src='{{baseURL}}/app.js';document.getElementsByTagName("head")[0].appendChild(a);a.onload=function(){i4j5.vals={vk:{url:'{{vk.url}}',title:'{{vk.title}}',description:'{{vk.description}}',img:'{{vk.img}}'},offer:{title:'{{offer.title}}',text:'{{offer.text}}'},instruction:{title:'{{instruction.title}}',text:'{{instruction.text}}'}};i4j5.init()}}})()</div>
		<div id="i4j5"></div>
	</div>
	<!-- (function(){
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.href = '{{baseURL}}/app.css';
		document.getElementsByTagName("head")[0].appendChild(link);

		link.onload = function () {			
			var script = document.createElement('script');
			script.type = 'text/javascript';
			script.src = '{{baseURL}}/app.js';
			document.getElementsByTagName("head")[0].appendChild(script);

			script.onload = function () {	
				i4j5.vals = {
					vk: {
						url: '{{vk.url}}',
						title: '{{vk.title}}',
						description: '{{vk.description}}',
						img: '{{vk.img}}'
					},
					offer: {
						title: '{{offer.title}}',
						text: '{{offer.text}}'
					},
					instruction: {
						title: '{{instruction.title}}',
						text: '{{instruction.text}}'
					}
				};

				i4j5.init();
			};
		};
	})() -->
	


	<script>
		var demo = new Vue({
		    el: '#code',
		    data: {
		    	baseURL: 'http://i4j5.github.io/vk-widget/release/v0',
		    	vk: {
		    		url: '',
		    		title: '',
		    		img: '',
		    		description: ''
		    	},
		    	offer: {
		    		 title: '',
		    		 text: ''
		    	},
		    	instruction: {
		    		 title: '',
		    		 text: ''
		    	}
		    }
		});

		new Clipboard('#btn');

		 function getCode() {
    		var js = document.getElementById('js').innerHTML;
    		var i4j5 = document.getElementById('i4j5');
    		i4j5.innerHTML = '&lt;script src="data:text/javascript;charset=utf-8;base64,'+js.encodeBase64()+'"&gt;&lt;/script&gt;';
    	}

	</script>
	
</body>
</html>